<aside class="sidebar">
    <h3><%= content.sidebar.left.title %></h3>
    <% content.sidebar.left.articles.forEach((article, index) => { %>
        <div class="sidebar-article">
            <% if (content.images[3] && index === 0) { %>
                <img src="<%= content.images[3] %>" alt="<%= config.language === 'German' ? 'Artikel Bild' : 'Article Image' %>">
            <% } %>
            <h4><%= article.title %></h4>
            <p><%= article.summary %></p>
            <small><%= article.date %></small>
        </div>
    <% }); %>
</aside>
