<!DOCTYPE html>
<html lang="<%= config.language === 'German' ? 'de' : 'en' %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= config.companyName %> - <%= content.title %></title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include('../partials/header', { config }) %>

    <div class="container">
        <%- include('../partials/sidebar-left', { content }) %>
        
        <main>
            <%- body %>
        </main>

        <%- include('../partials/sidebar-right', { content }) %>
    </div>

    <%- include('../partials/footer', { config }) %>
</body>
</html>
